<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/index.js"></script>

    <title>리뷰 수정</title>
</head>
<body>
<table align="center">
    <tr>
        <td align="center" style="font-size: 30px;">리뷰 수정 페이지</td>
    </tr>
    <tr>
        <td>
            <div class="rating-stars">
                <span class="star" onclick="rateMenu(1)">★</span>
                <span class="star" onclick="rateMenu(2)">★</span>
                <span class="star" onclick="rateMenu(3)">★</span>
                <span class="star" onclick="rateMenu(4)">★</span>
                <span class="star" onclick="rateMenu(5)">★</span>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">메뉴 평가</td>
    </tr>
    <tr>
        <td><input type="text" name="menuPrice" style="width:100%; height:50px;"></td>
    </tr>
    <tr>
        <td align="center">
            <button type="reset" onclick="goHome()">취소</button>
            <button type="submit">수정</button>
        </td>
    </tr>
</table>

<script>
    // 평점 초기화
    let selectedRating = 0;
</script>
</body>
</html>