<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style2.css">
    <script src="/js/index.js"></script>

    <title>주문 현황</title>
</head>
<style>
    .button {
        width: 100%;
    }
</style>
<body>
<table align="center">
    <tr>
        <td colspan="4" align="center" style="font-size: 30px;">주문 현황 페이지</td>
    </tr>
    <tr>
        <td align="left">국장님의 주문</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td align="right">맛있는 닭발</td>
        <td align="right">X 2</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td align="right">진짜 맛있는 닭발</td>
        <td align="right">X 2</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td align="right">진짜 정말 맛있는 닭발</td>
        <td align="right">X 2</td>
    </tr>
    <tr>
        <td colspan="2">
            <button id="button1" class="button" onclick="cancelOrder()">주문 취소</button>
        </td>
        <td colspan="2">
            <button id="button2" class="button" onclick="mergeButtons()">주문 수락</button>
        </td>
    </tr>
    <tr>
        <td colspan="1">
            <button id="homeButton" class="button" style="display: none;" onclick="goHome()">뒤로 가기</button>
        </td>
        <td colspan="3" align="center">
            <div id="orderStatusText" style="display: none;">취소된 주문 입니다.</div>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <button id="mergedButton" class="button" style="display: none;" onclick="completeOrder()">배달 완료</button>
        </td>
    </tr>
</table>
</body>
</html>