<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Order Information</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<table align="center">
  <tr>
    <td colspan="3" align="right"><button onclick="goHome()">뒤로가기</button></td>
  </tr>
  <tr>
    <td colspan="3" align="center"><h1>🏆 상점 랭킹 🏆</h1></td>
  </tr>
  <tr id="storeRank">

  </tr>
</table>

<script>
  $(document).ready(function () {
    const auth = getToken();
    if (auth !== undefined && auth !== '') {
      $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        jqXHR.setRequestHeader('Authorization', auth);
      });
    } else {
      window.location.href = host + '/user/login-page';
      return;
    }

    // 상점 정보 가져오기
    $.ajax({
      type: 'GET',
      url: `/api/store-rank`,
      success: function (stores) {
        const storeInfoDiv = document.getElementById("storeRank");
        let rank = 1;
        stores.forEach(store => {
          const storeItem = document.createElement("tr");
          storeItem.innerHTML = `
                        <td>${rank}위 : </td>
                        <td><a class="textbox">${store.storeName}</a></td>
                        <td><button onclick="location.href='/user/store/store-detail/${store.id}'">상점으로 이동</button></td>
                    `;
          storeInfoDiv.appendChild(storeItem);
          rank++
        });
      }
    });
  });
</script>
</body>
</html>