<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/index.js"></script>

    <title>상점 상세 페이지</title>
</head>
<body>
<table align="center">
    <tr>
        <button onclick="goHome()">뒤로 가기</button>
    </tr>
    <tr>
        <td colspan="2" align="center" style="font-size: 30px;">상점 상세 페이지</td>
    </tr>
    <tr>
        <td colspan="2"><img src="../../static/images/store.jpg" name="menuPhoto"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">⭐️⭐️⭐️⭐️⭐️</td>
    </tr>
    <tr>
        <td colspan="2" align="center" style="font-size: 30px;">닭발 조아</td>
    </tr>
</table>
<div class="tab-container">
    <div class="tab-buttons">
        <button class="tab-button" onclick="openTab('tab1')">메뉴</button>
        <button class="tab-button" onclick="openTab('tab2')">매장 주소</button>
    </div>

    <div id="tab1" class="tab-content">
        <table align="center">
            <tr onclick="goMenuDetail()">
                <td rowspan="2"><img src="../../static/images/chickenfeet.jpg" height="150px" width="150px"></td>
                <td align="center">닭발</td>
                <td align="center">5000</td>
            </tr>
            <tr>
                <td colspan="2" align="center">세상에서 제일 맛있게 매운 닭발 입니다.</td>
            </tr>
            <tr onclick="goMenuDetail()">
                <td rowspan="2"><img src="../../static/images/chickenfeet.jpg" height="150px" width="150px"></td>
                <td align="center">닭발</td>
                <td align="center">5000</td>
            </tr>
            <tr>
                <td colspan="2" align="center">세상에서 제일 맛있게 매운 닭발 입니다.</td>
            </tr>
            <tr onclick="goMenuDetail()">
                <td rowspan="2"><img src="../../static/images/chickenfeet.jpg" height="150px" width="150px"></td>
                <td align="center">닭발</td>
                <td align="center">5000</td>
            </tr>
            <tr>
                <td colspan="2" align="center">세상에서 제일 맛있게 매운 닭발 입니다.</td>
            </tr>
        </table>
    </div>
    <div id="tab2" class="tab-content">
        <table align="center">
            <td><img src="../../static/images/map.jpg" align="center"></td>
        </table>
    </div>
</div>

<script>
    // 페이지 처음 들어왔을 때 tab1 띄우기
    window.addEventListener('DOMContentLoaded', function () {
        openTab('tab1');
    });
</script>
</body>
</html>
