<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <title>Create Store</title>
</head>
<body>
<h1>Create a New Store</h1>
<form th:action="@{/api/store/create}" method="post">
    <label for="storeName">Store Name:</label>
    <input type="text" id="storeName" name="storeName" required>
    <br>

    <label for="storeDetails">Store Details:</label>
    <textarea id="storeDetails" name="storeDetails" rows="4" required></textarea>
    <br>

    <label for="storeAddress">Store Address:</label>
    <input type="text" id="storeAddress" name="storeAddress" required>
    <br>

    <input type="submit" value="Create Store">
</form>

<!-- 상점 생성 결과를 표시할 엘리먼트 -->
<div id="storeCreationResult"></div>

<script>
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        } else {
            window.location.href = host + '/user/login-page';
            return;
        }

        // 폼 제출 이벤트 리스너
        $('form').submit(function (event) {
            event.preventDefault(); // 기본 동작 방지

            // 폼 데이터 가져오기
            const formData = {
                storeName: $('#storeName').val(),
                storeDetails: $('#storeDetails').val(),
                storeAddress: $('#storeAddress').val()
            };

            // 상점 생성 요청 보내기
            $.ajax({
                type: 'POST',
                url: `/api/store/create`,
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (response) {
                    // 상점 생성 성공 메시지를 표시
                    $('#storeCreationResult').html('<p>Store created successfully!</p>');
                },
                error: function (error) {
                    // 상점 생성 실패 메시지를 표시
                    $('#storeCreationResult').html('<p>Error creating store.</p>');
                }
            });
        });
    });

    // 쿠키에서 유저 정보를 읽어옵니다.
    function getToken() {
        let auth = Cookies.get('Authorization');
        if (auth === undefined) {
            return '';
        }

        // kakao 로그인 사용한 경우 Bearer 추가
        if (auth.indexOf('Bearer') === -1 && auth !== '') {
            auth = 'Bearer ' + auth;
        }

        return auth;
    }
</script>
</body>
</html>