
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <title>상점 상세 페이지</title>
</head>
<body>

<table align="center">
  <tr>
    <td colspan="2" align="right"><button onclick="goHome()">뒤로가기</button></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><h1>🏠 상점 상세 페이지 🏠</h1></td>
  </tr>
</table>

<table id="store-detail-table" align="center">

</table>
<table id ="store-menu-table" align="center">

</table>

<!-- 상점 생성 결과를 표시할 엘리먼트 -->
<div id="storeReadResult" align="center"></div>

<script>
  // 페이지 처음 들어왔을 때 상점 정보 띄우기
  // window.addEventListener('DOMContentLoaded', function () {
    // 로그인 된 상태인지 확인
    $(document).ready(function () {
      const auth = getToken();
      if (auth !== undefined && auth !== '') {
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
          jqXHR.setRequestHeader('Authorization', auth);
        });
      } else {
        window.location.href = host + '/user/login-page';
        return;
      }

      const url = window.location.href;
      const storeId = url.substring(url.lastIndexOf("/") + 1);

    $.ajax({
      type: 'GET',
      url: `/api/store/${storeId}`,
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      success: function(store){
        const storeDetailTable = document.getElementById("store-detail-table");
        const storeMenuTable = document.getElementById("store-menu-table");

        const storeItem = document.createElement("table");
        storeItem.innerHTML = `
                <tr>
                    <td align = "center">상점 평점 : </td>
                    <td align = "center" class="textbox">${store.avgStar.toFixed(1)}</td>
                </tr>
                <tr>
                    <td align = "center">상점 이름 : </td>
                    <td align = "center" class="textbox">${store.storeName}</td>
                </tr>
                <tr>
                    <td align = "center">상점 주소 : </td>
                    <td align = "center" class="textbox">${store.storeAddress}</td>
                </tr>
                <tr>
                    <td align = "center">상점 설명 : </td>
                    <td align = "center" class="textbox">${store.storeDetails}</td>
                </tr>
        `;
        storeDetailTable.appendChild(storeItem);
        const storeMenus = store.menuList;
        storeMenus.forEach(storeMenu => {
          const menuItem = document.createElement("table"); // Create a new table for each menu item
          menuItem.innerHTML = `
                    <tr>
                        <td>메뉴 이름 : </td>
                        <td align = "center" class="textbox">${storeMenu.name}</td>
                    </tr>
                    <tr>
                        <td>메뉴 가격 : </td>
                        <td align = "center" class="textbox">${storeMenu.price}</td>
                    </tr>
                    <tr>
                        <td>메뉴 설명 : </td>
                        <td align = "center" class="textbox">${storeMenu.details}</td>
                    </tr>
                    <tr>
                        <td align = "center" colspan="2"><button onclick="location.href='/user/menu/${storeMenu.id}'">메뉴 상세 보기</button></td>
                    </tr>
                    <tr>
                        <td align = "center" colspan="2" class="spacing-bottom"></td>
                    </tr>
        `;
          storeMenuTable.appendChild(menuItem); // Append the new table to the menu table
        });

      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.error('API Request Failed:', textStatus, errorThrown);
      }
    })
    });
</script>
</body>
</html>

