<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <title>메뉴 상세 페이지</title>
</head>
<body>
<table id="menuDetailsTable" align="center">
    <tr>
        <td colspan="2" align="center" style="font-size: 30px;">메뉴 상세 페이지</td>
    </tr>
</table>

<script>
    host = window.location.host
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        } else {
            window.location.href = host + '/user/login-page';
            return;
        }

        // $("#menuDetailsTable").empty();
        const url = window.location.href;
        const id = url.substring(url.lastIndexOf("/") + 1);

        // 선택한 메뉴 정보 가져오기
        $.ajax({
            type: 'GET',
            url: `/api/menu/${id}`,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (menu) {
                const menuDetailsTable = document.getElementById("menuDetailsTable");
                const menuItem = document.createElement("table");
                    menuItem.innerHTML = `
                        <tr>
                            <td colspan="2"><img src="/images/chickenfeet.jpg" name="menuPhoto"></td>
                        </tr>
                        <tr>
                            <td align="center">메뉴 이름</td>
                            <td align="center">${menu.name}</td>
                        </tr>
                        <tr>
                            <td align="center">메뉴 가격</td>
                            <td align="center">${menu.price}</td>
                        </tr>
                        <tr>
                            <td align="center">메뉴 설명</td>
                            <td align="center">${menu.details}</td>
                        </tr>
                        <tr>
                            <td align="center">음식 수량</td>
                            <td align="right">
                                <input type='button' onclick='count("minus")' value='-'/>
                                <input type='button' onclick='count("plus")' value='+'/>
                                <div id='cnt'>0</div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="right">
                                <button type="reset" onclick="goHome()">취소</button>
                                <button type="submit" id="addMenuButton">장바구니 담기</button>
                            </td>
                        </tr>
                    `;
                    menuDetailsTable.appendChild(menuItem);
            }
        })
    });

    window.onload = function() {
        const addMenuButton = document.getElementById("addMenuButton");
        addMenuButton.addEventListener("click", () => {
            $.ajax({
                type: 'POST', // Use POST method to send data
                url: `/api/cart/${id}`, // Replace with your actual endpoint
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (response) {
                    console.log(response);
                    console.log(id);
                }
            });
        });
    }

    // 쿠키에서 유저 정보를 읽어옵니다.
    function getToken() {
        let auth = Cookies.get('Authorization');
        if (auth === undefined) {
            return '';
        }

        // kakao 로그인 사용한 경우 Bearer 추가
        if (auth.indexOf('Bearer') === -1 && auth !== '') {
            auth = 'Bearer ' + auth;
        }
        return auth;
    }
</script>
</body>
</html>
