<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <title>Update Menu</title>
</head>
<body>
<table id="storeInfo" align="center">
    <tr>
        <td colspan="3" align="right"><button onclick="goHome()">뒤로가기</button></td>
    </tr>
    <tr>
        <td colspan="3" align="center"><h1>📋 메뉴 생성 / 수정 / 삭제 📋</h1></td>
    </tr>
    <tr>
        <td><label for="menuId">메뉴 ID :</label></td>
        <td colspan="2"><input type="text" id="menuId" name="menuId" required></td>
    </tr>
    <tr>
        <td><label for="menuName">메뉴 이름 :</label></td>
        <td colspan="2"><input type="text" id="menuName" name="menuName" required></td>
    </tr>
    <tr>
        <td><label for="menuPrice">메뉴 가격 :</label></td>
        <td colspan="2"><input id="menuPrice" name="menuPrice" required></td>
    </tr>
    <tr>
        <td><label for="menuDetails">메뉴 설명 :</label></td>
        <td colspan="2"><input type="text" id="menuDetails" name="menuDetails" required></td>
    </tr>
    <tr>
        <td><button type="button" id="createMenu">Create Menu</button></td>
        <td><button type="button" id="updateMenu">Update Menu</button></td>
        <td><button type="button" id="deleteMenu">Delete Menu</button></td>
    </tr>
    <tr>
        <!-- 업데이트 결과를 표시할 엘리먼트 -->
        <td colspan="3"><div id="menuResult"></div></td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        } else {
            window.location.href = host + '/user/login-page';
            return;
        }

        $('#createMenu').click(function () {

            // 폼 데이터 가져오기
            const formData = {
                name: $('#menuName').val(),
                price: $('#menuPrice').val(),
                details: $('#menuDetails').val()
            };

            // 메뉴 생성 요청 보내기
            $.ajax({
                type: 'POST',
                url: `/api/menu`,
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (response) {
                    // 메뉴 생성 성공 메시지를 표시
                    $('#menuResult').html('<p>Menu created successfully!</p>');
                },
                error: function (error) {
                    // 메뉴 생성 실패 메시지를 표시
                    $('#menuResult').html('<p>Error creating Menu.</p>');
                }
            });
        });

        $('#updateMenu').click(function () {
            // 폼 데이터 가져오기
            const formData = {
                id: $('#menuId').val(), // 상점 ID를 가져와서 사용
                name: $('#menuName').val(),
                price: $('#menuPrice').val(),
                details: $('#menuDetails').val()
            };

            // 메뉴 업데이트 요청 보내기
            $.ajax({
                type: 'PUT',
                url: `/api/menu/${formData.id}`, // 업데이트할 Store의 ID를 포함한 URL
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (response) {
                    // 메뉴 업데이트 성공 메시지를 표시
                    $('#menuResult').html('<p>Menu updated successfully!</p>');
                },
                error: function (error) {
                    // 메뉴 업데이트 실패 메시지를 표시
                    $('#menuResult').html('<p>Error updating Menu.</p>');
                }
            });
        });

        // Delete 버튼 클릭 시 상점 삭제
        $('#deleteMenu').click(function () {
            const id = $('#menuId').val();

            $.ajax({
                type: 'DELETE',
                url: `/api/menu/${id}`,
                success: function (response) {
                    // 상점 삭제 성공 메시지를 표시
                    $('#menuResult').html('<p>Store deleted successfully!</p>');
                },
                error: function (error) {
                    // 상점 삭제 실패 메시지를 표시
                    $('#menuResult').html('<p>Error deleting store.</p>');
                }
            });
        });
    });
</script>
</body>
</html>