<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <title>메뉴 상세 페이지</title>
</head>
<body>
<table align="center">
<tr>
    <td colspan="2" align="right"><button onclick="goHome()">뒤로가기</button></td>
</tr>
<tr>
    <td colspan="2" align="center"><h1>📋 메뉴 상세 페이지 📋</h1></td>
</tr>
</table>

<table id="menuDetailsTable" align="center">

</table>

<script>
    let url = window.location.href;
    let menuId = url.substring(url.lastIndexOf("/") + 1);

    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        } else {
            window.location.href = host + '/user/login-page';
            return;
        }

        // 선택한 메뉴 정보 가져오기
        $.ajax({
            type: 'GET',
            url: `/api/menu/${menuId}`,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (menu) {
                const menuDetailsTable = document.getElementById("menuDetailsTable");
                const menuItem = document.createElement("table");
                    menuItem.innerHTML = `
                        <tr>
                            <td>메뉴 이름 : </td>
                            <td class="textbox">${menu.name}</td>
                        </tr>
                        <tr>
                            <td>메뉴 가격 : </td>
                            <td class="textbox">${menu.price}</td>
                        </tr>
                        <tr>
                            <td>메뉴 설명 : </td>
                            <td class="textbox">${menu.details}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="spacing-bottom"></td>
                        </tr>
                        <tr>
                            <td><button type="reset" onclick="goHome()">취소</button></td>
                            <td><button type="submit" id="addMenuButton">장바구니 담기</button></td>
                        </tr>
                    `;
                    menuDetailsTable.appendChild(menuItem);
            }
        })
    });

    window.onload = function() {
        const addMenuButton = document.getElementById("addMenuButton");
        addMenuButton.addEventListener("click", () => {
            $.ajax({
                type: 'POST', // Use POST method to send data
                url: `/api/cart/${menuId}`, // Replace with your actual endpoint
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (response) {
                    console.log(response);
                }
            });
        });
    }
</script>
</body>
</html>
