<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/js/basic.js"></script>
  <title>주문 장바구니</title>
</head>
<body>
  <div class="header" style="position:relative;">
  <!--headr-->
    <div id="header-title-login-user">
    배달의 달인
    </div>
    <a id="login-text" href="javascript:logout()">
    내 정보
    </a>
  <!--/headr-->
  </div>
  <h1 id = "bucket-title">주문 장바구니</h1>
  <form id = "bucket-info">
    <div class="form-group" id = "bucket-orderer-name">
      <label for="bucket-orderer-name">주문자 이름</label>
      <input type="text" class="form-control" aria-describedby="bucket-help" placeholder="주문자 이름을 입력하세요.">
    </div>
    <div class="form-group" id = "bucket-orderer-address">
      <label for="bucket-orderer-address">주문자 주소</label>
      <input type="text" class="form-control" placeholder="주문자 주소를 등록하세요.">
    </div>
    <div class="form-group" id = "bucket-orderer-tel">
      <label for="bucket-orderer-tel">주문자 번호</label>
      <input type="tel" class="form-control" placeholder="주문자 번호를 등록하세요.">
    </div>
    <span id = "bucket-order-info">주문 정보: </span>
    <ul class="bucket-order-store">
      <li>주문 업장 이름: 놀부부대찌개 부산해운대점</li>
    </ul>
    <table class="table" id = "bucket-order-info-table">
      <thead>
      <tr class = "menu-info-show">
        <th scope="col">사진</th>
        <th scope="col">음식</th>
        <th scope="col">수량</th>
        <th id = "menu-price-col" scope="col">가격</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>사진</td>
        <td>스팸부대찌개</td>
        <td>1</td>
        <td class = "bucket-price">10000원</td>
      </tr>
      <tr>
        <td>사진</td>
        <td>베이컨햄부대찌개</td>
        <td>1</td>
        <td class = "bucket-price">12000원</td>
      </tr>
      <tr>
        <td>사진</td>
        <td>맥주</td>
        <td>2</td>
        <td class = "bucket-price">1000원</td>
      </tr>
      </tbody>
    </table>
    <span id = "total-price-bucket">합계: </span>
    <button type="submit" class="btn btn-primary" id = "store-submit">주문하기</button>
    <button type="submit" class="btn btn-primary" id = "store-cancel">취소하기</button>
  </form>
</body>
</html>