<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart Information</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<h1>Cart Information</h1>
<div id="messageOutput"></div>
<div id="cartInfo">
    <!-- 카트 정보가 여기에 표시됩니다. -->
</div>
<!-- 주문 주소 입력 폼 -->
<div>
    <label for="address">주문 주소:</label>
    <input type="text" id="address" placeholder="주문 주소를 입력하세요">
    <span id="connectionStatus"></span> <!-- 연결 상태 표시 -->
</div>

<!-- 주문하기 버튼 -->
<button id="orderButton">주문하기</button>

<script>
    const orderButton = document.getElementById("orderButton");
    host = window.location.host
    let webSocket;
    let username;
    let userid;
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        } else {
            window.location.href = host + '/user/login-page';
            return;
        }
        // 페이지 진입 시에 user info를 불러온 후 그 id에 맞는 채팅방 신설(있다면 백엔드에서 신설 대신 기존 채팅방을 출력)
        $.ajax({
            type: 'GET',
            url: `/api/user-info`,
            contentType: 'application/json',
        })
            .done(function (res, status, xhr) {
                userid = res.userid;
                username=res.username;
                $.ajax({
                    type: 'POST',
                    url: "/chat",
                    data: JSON.stringify({id: res.userid}),
                    contentType: 'application/json',
                    success: function (res) {
                        console.log(res)
                    }
                })
            })
        $.ajax({
            type: 'GET',
            url: `/api/cart`,
            success: function (cart) {
                tmp = `<p>Username: ${cart.username}</p><hr>`
                tmp += `<p>MenuList</p>`;
                cart.addedMenuList.forEach(menu=>{
                    tmp+=`<p>  Menu: ${menu.menuResponseDto.name}</p>
                          <p>  Count: ${menu.count}</p>`
                })
                tmp+=`<hr>`
                const cartInfoDiv = document.getElementById("cartInfo");
                const cartItem = document.createElement("div");
                cartItem.innerHTML =tmp;
                cartInfoDiv.appendChild(cartItem);
            }
        })
        connectWebSocket();
        setTimeout(()=>{
            const message = `{
                "type":"ENTER",
                "roomId":"${userid}",
                "sender":"${username}",
                "message":"접속"
                }`
            console.log(7)
            //const message = messageInput.value;
            webSocket.send(message);
            // send(message);
            console.log(8)
            messageOutput.innerHTML += `<p>송신: ${message}</p>`;
        },2000)

    })
    // 쿠키에서 유저 정보를 읽어옵니다.
    function getToken() {

        let auth = Cookies.get('Authorization');

        if(auth === undefined) {
            return '';
        }

        // kakao 로그인 사용한 경우 Bearer 추가
        if(auth.indexOf('Bearer') === -1 && auth !== ''){
            auth = 'Bearer ' + auth;
        }

        return auth;
    }

    // /api/order 엔드포인트로 주문을 생성하는 함수

    orderButton.addEventListener("click", () => {
        console.log("test1")
        const addressInput = document.getElementById("address");
        const address = addressInput.value;

        if (address) {
            createOrder(address);
        } else {
            alert("주문 주소를 입력하세요.");
        }
    });

    function createOrder(adr) {
        const formData = {
            address: adr
        };
        $.ajax({
            type: 'POST',
            url: "/api/order",
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
                // 상점 생성 성공 메시지를 표시
                console.log(response)

                // 상점을 생성하고 상점 생성 요청을 보내기

                // 상점 생성 시


                console.log(1)
                // websocket 시작


                const messageOutput = document.getElementById("messageOutput");
                const connectionStatus = document.getElementById("connectionStatus"); // 연결 상태 표시

                // 메시지 전송 함수
                const message = `{
                "type":"ORDER",
                "roomId":"${response.storeownerid}",
                "sender":"${response.username}",
                "message":"${response.id}번 주문 요청이 접수되었습니다!"
                }`
                console.log(7)
                //const message = messageInput.value;
                webSocket.send(message);
                // send(message);
                console.log(8)
                messageOutput.innerHTML += `<p>송신: ${message}</p>`;
                console.log(10)

            },
            error: function (error) {
                // 상점 생성 실패 메시지를 표시
                $('#updateResult').html('<p>Error creating store.</p>');
            }
        });

    }
    function connectWebSocket() {
        const socketUrl = 'ws://43.201.67.57:8080/ws/chat';
        if (!webSocket && socketUrl.trim() !== "") {
            webSocket = new WebSocket(socketUrl);

            // 웹 소켓 연결 성공 시
            webSocket.onopen = (event) => {
                console.log("WebSocket 연결 성공!");
                connectionStatus.textContent = "연결됨"; // 연결 상태 표시 업데이트
            };

            // 웹 소켓 메시지 수신 시
            webSocket.onmessage = (event) => {
                const message = event.data;
                messageOutput.innerHTML += `<p>수신: ${message}</p>`;
            };

            // 웹 소켓 연결 종료 시
            webSocket.onclose = (event) => {
                console.log("WebSocket 연결 종료!");
                connectionStatus.textContent = "연결 종료"; // 연결 상태 표시 업데이트
            };
        }
    }
</script>
</body>
</html>
