<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart Information</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<table id="orderUser" align="center">
    <tr>
        <td colspan="2" align="right"><button onclick="goHome()">뒤로가기</button></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><h1>🛒 내 장바구니 🛒</h1></td>
    </tr>
</table>

<table align="center">
    <tr>
        <td colspan="2" align="left">----- 장바구니 목록 -----</td>
    </tr>
</table>

<table id="cartInfo" align="center">
    <!-- 카트 정보가 여기에 표시됩니다. -->
</table>

<!-- 주문 주소 입력 폼 -->
<table align="center">
    <tr>
        <td><label for="address">주문 주소 : </label></td>
        <td><input type="text" id="address" placeholder="주문 주소를 입력하세요"></td>
    </tr>
    <tr>
        <td colspan="2" align="right"><button id="orderButton">주문하기</button></td>
    </tr>
    <tr>
        <td colspan="2" class="spacing-bottom"></td>
    </tr>
    <tr>
        <td colspan="2" class="spacing-bottom"></td>
    </tr>
    <tr>
        <td class="textbox" colspan="2" align="right"><span id="connectionStatus"></span></td>    <!-- 연결 상태 표시 -->
    </tr>
</table>

<table align="center">
    <tr>
        <td id="messageOutput" class="textbox"></td>
    </tr>
</table>

<script>
    const orderButton = document.getElementById("orderButton");
    let webSocket;

    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        } else {
            window.location.href = host + '/user/login-page';
            return;
        }
        // 페이지 진입 시에 user info를 불러온 후 그 id에 맞는 채팅방 신설(있다면 백엔드에서 신설 대신 기존 채팅방을 출력)
        $.ajax({
            type: 'GET',
            url: `/api/user-info`,
            contentType: 'application/json',
        })
            .done(function (res, status, xhr) {
                $.ajax({
                    type: 'POST',
                    url: "/chat",
                    data: JSON.stringify({id: res.userid}),
                    contentType: 'application/json',
                    success: function (res) {
                        console.log(res)
                    }
                })
            })

        $.ajax({
            type: 'GET',
            url: `/api/cart`,
            success: function (cart) {
                const orderUserTable = document.getElementById("orderUser");
                const userItem = document.createElement("table");
                userItem.innerHTML= `
                                    <tr>
                                        <td>사용자명 : </td>
                                        <td class="textbox">${cart.username}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="spacing-bottom"></td>
                                    </tr>
                                    `
                orderUserTable.appendChild(userItem);

                const cartInfoTable = document.getElementById("cartInfo");
                cart.addedMenuList.forEach(menu => {
                    const cartItem = document.createElement("table");
                    cartItem.innerHTML = `
                        <tr>
                            <td>메뉴 : </td>
                            <td class="textbox">${menu.menuResponseDto.name}</td>
                        </tr>
                        <tr>
                            <td>수량 : </td>
                            <td class="textbox">${menu.count}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        `;
                    cartInfoTable.appendChild(cartItem);
                })
            }
        })
        connectWebSocket();
    })

    // /api/order 엔드포인트로 주문을 생성하는 함수
    orderButton.addEventListener("click", () => {
        console.log("test1")
        const addressInput = document.getElementById("address");
        const address = addressInput.value;

        if (address) {
            createOrder(address);
        } else {
            alert("주문 주소를 입력하세요.");
        }
    });

    function createOrder(adr) {
        const formData = {
            address: adr
        };
        $.ajax({
            type: 'POST',
            url: "/api/order",
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
                // 상점 생성 성공 메시지를 표시
                console.log(response)

                // 상점을 생성하고 상점 생성 요청을 보내기

                // 상점 생성 시
                $.ajax({
                        type: 'POST',
                        url: "/chat",
                        data:JSON.stringify({id:response.userid}),
                        contentType: 'application/json',
                        success: function (res){
                            console.log(res)
                        }
                })
                console.log(1)
                // websocket 시작

                const messageOutput = document.getElementById("messageOutput");
                const connectionStatus = document.getElementById("connectionStatus"); // 연결 상태 표시
                console.log(connectionStatus)
                // 웹 소켓 연결 함수
                console.log(2)

                console.log(3)
                // 메시지 전송 함수
                const message = `{
                "type":"ORDER",
                "roomId":"${response.storeownerid}",
                "sender":"${response.username}",
                "message":"${response.id}번 주문 요청이 접수되었습니다!"
                }`
                console.log(7)
                //const message = messageInput.value;
                webSocket.send(message);
                // send(message);
                console.log(8)
                messageOutput.innerHTML += `<p>송신: ${message}</p>`;
                console.log(10)

            },
            error: function (error) {
                // 상점 생성 실패 메시지를 표시
                $('#updateResult').html('<p>Error creating store.</p>');
            }
        });

    }
    function connectWebSocket() {
        const socketUrl = 'ws://43.201.67.57:8080/ws/chat';
        if (!webSocket && socketUrl.trim() !== "") {
            webSocket = new WebSocket(socketUrl);

            // 웹 소켓 연결 성공 시
            webSocket.onopen = (event) => {
                console.log("WebSocket 연결 성공!");
                connectionStatus.textContent = "연결됨"; // 연결 상태 표시 업데이트
            };

            // 웹 소켓 메시지 수신 시
            webSocket.onmessage = (event) => {
                const message = event.data;
                messageOutput.innerHTML += `<p>수신: ${message}</p>`;
            };

            // 웹 소켓 연결 종료 시
            webSocket.onclose = (event) => {
                console.log("WebSocket 연결 종료!");
                connectionStatus.textContent = "연결 종료"; // 연결 상태 표시 업데이트
            };
        }
    }
</script>
</body>
</html>
