<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
  <script>
    function onclickOwner() {
      // Get the checkbox
      var checkBox = document.getElementById("owner-check");
      // Get the output text
      if (checkBox.checked == true){
        box.style.display = "block";
      } else {
        box.style.display = "none";
      }
    }

    function sendEmailVerification() {
      try {
        // Get the email input field
        var emailInput = document.getElementsByName("email")[0];

        // Extract the email address
        var email = emailInput.value;

        fetch('/api/user/mail', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email: email }),
        })
      } catch (error) {
        console.error('Error:', error);
        alert('이메일 인증 요청을 보낼 수 없습니다.');
      }
    }
  </script>
  </script>
</head>
<body>
<div id="login-form">
  <div id="login-title">회원가입</div>

  <form action="/api/user/signup" method="post">
    <div class="login-id-label">Username</div>
    <input type="text" name="username" placeholder="Username" class="login-input-box">

    <div class="login-id-label">Password</div>
    <input type="password" name="password" class="login-input-box">

    <div class="login-id-label">E-mail</div>
    <input type="text" name="email" placeholder="E-mail" class="login-input-box">

    <button id="email-verification-button" type="button" onclick="sendEmailVerification()">이메일 인증 요청</button>

    <div class="login-id-label">Code</div>
    <input type="text" name="code" placeholder="Code" class="login-input-box">

    <div>
      <input id="owner-check" type="checkbox" name="owner" onclick="onclickOwner()" style="margin-top: 40px;">사장님
    </div>
    <button id="login-id-submit">회원 가입</button>
  </form>
</div>
</body>
</html>
